barriga.email=SEU_EMAIL_AQUI
barriga.senha=SUA_SENHA_AQUI

interno.base1=http://IP_SERVIDOR_PRINCIPAL:PORTA
interno.base2.pa=http://IP_SERVIDOR_PA:PORTA
interno.base2.fila=http://IP_SERVIDOR_FILA:PORTA
